<div class="jumbotron">
    <div class="container-fluid col-xs-12 col-sm-8">
      <div class="card card-default border-0 shadow my-5 card-default">
        <div class="card-header text-center">
          <h2 >About DXC</h2>
        </div>
        <div class="card-block p-4">
          <h3 class="card-title text-center">DXC.technology India</h3>
          <p class="card-text">
            DXC in India is a hotbed of Innovation and technical expertise and a gold standard for process maturity and quality. Our operations are the company’s largest globally, employing high-caliber technology professionals focused on helping customers address their core challenges and take advantage of market opportunities.
          </p>
          <p class="card-text">
            Our technology independence, world-class talent and industry-leading partner ecosystem provide a clear and confident vision for the future. Through our partnerships with the world’s leading technology providers, we deliver the best, most proven solutions to de-risk technology investments. 
          </p>
          <p>
            We bring a complete spectrum of leading-edge and industry-relevant business solutions and services to the India market, spanning applications, infrastructure, consulting, business process management and systems integration, cutting across legacy as well as emerging technologies. Our deep domain expertise, globally acknowledged and robust delivery systems, coupled with our strategic Global Alliance Network, make us the partner of choice for global and India-based customers.
          </p>
        </div>
      </div>
    </div>
  </div>
  
