
<div class="jumbotron">
    <div class="container-fluid col-xs-12 col-sm-8">
      <div class="card card-default border-0 shadow my-5 card-default">
        <div class="card-header text-center">
          <h2>Applications Service</h2>
        </div>
        <div class="card-block p-4">
          <p class="card-text" style="font-family: sans-serif; font-size: larger;">
            Shift your IT spend from legacy to leading edge. Modern applications deliver the experience customers want and the results you need. DXC Technology can help you accelerate to a secure, digital, data-driven enterprise.
          </p>
          <hr>
          <p class="card-text" style="font-family: sans-serif; font-size: larger;">
            We use advanced technologies and methods to accelerate the creation, modernization, delivery and maintenance of high-quality, secure applications allowing you to innovate faster while reducing risk, time to market, and total cost of ownership.
          ​</p>
          <pre class="card-text" style="font-family: sans-serif; font-size: larger;">
            1. Recognized Leader by analysts like ISG Provider Lens and NelsonHall NEAT quadrants
            2. 10,000 DevOps and agile experts
            3. Scaled Agile Gold Partner
            4. Flexible consumption-based pricing models
            5. 1 million applications under management
          </pre>
        </div>
      </div>
    </div>
</div>
