.jumbotron {
    position: relative;
    background: #000 url("https://cdn.pixabay.com/photo/2020/08/31/06/33/mountains-5531584_1280.jpg") center center;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 60%;
}