
<div class="jumbotron">
    <div class="container-fluid col-xs-12 col-sm-8">
      <div class="card card-default border-0 shadow my-5 card-default">
        <div class="card-header text-center">
          <h2 >Cloud & Platform Services and Solutions</h2>
        </div>
        <div class="card-block p-4">
          <pre class="card-text" style="font-family: sans-serif; font-size: larger;">
            1. 800+ managed cloud customers
            2. Experts in complex, enterprise-scale transformation
            3. 20,000+ Microsoft professionals/Microsoft Certified Solution Provider
            4. 1,000+ AWS professionals/AWS Premier Consulting Partner
            5. Managed services for Azure, AWS, VMware, Oracle, Google & more
            6. Full-stack Platform as a Service for SAP
          </pre>
        </div> 
      </div>
    </div>
</div>

  
