

<div class="jumbotron">
  <div class="container-fluid col-xs-12 col-sm-8">
    <div class="card card-default border-0 shadow my-5 card-default">
      <div class="card-header text-center">
        <h2>Analytics Services & Solutions</h2>
      </div>
      <div class="card-block p-4">
        <pre class="card-text" style="font-family: sans-serif; font-size: larger;">
          DXC Analytics advises, develops, and implements modern analytics and artificial intelligence (AI) 
          solutions by applying industry expertise, technology and business solutions and services, 
          proven methodologies, and experienced people. With our offerings, capabilities, and global 
          reach, organizations accelerate digital transformation and confidently produce repeatable, 
          AI-powered business outcomes.

          1. Established Analytics data labs
          2. Best-in-class analytics and AI platform solutions, 
             offering choice and flexibility
        </pre>
      </div>
    </div>
  </div>
</div>



