
bg {
    background-image: url("https://media.glassdoor.com/l/29/0d/dc/8e/csc-headquarters.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}